// Import the non-default scaffolding module to help us get started.
@import blueprint/scaffolding

// This configuration will only apply the
// blueprint styles to pages with a body class of "bp"
// This makes it easier to have pages without blueprint styles
// when you're using a single/combined stylesheet.

body
  +blueprint-typography(true)
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  #wrapper
    +container
    a
      color: #e05
      &:hover
        color: #703
    margin:
      top: 80px
      bottom: 80px
    #experience
      .company
        margin-bottom: 1em
        h3
          display: inline
    h2
      margin: 1em 0 0.5em 0
    pre
      margin: 0
    #areas
      .loading
        font-size: 80px
        text-transform: uppercase
        color: #ddd
      .github
        +column(6)
      .twitter
        +column(6, true)
      .row
        padding-top: 10px
        margin-top: 10px
        border-top: 1px solid #bbb
        .header
          font-size: 18px
          text-decoration: none
