%h1 Quinn Shanahan (<em>The Website</em>)

%ul.places
  %li.github=   link "Github",   "http://github.com/quinn"
  %li.linkedin= link "LinkedIn", "http://www.linkedin.com/in/quinnshanahan"
  %li.twitter=  link "Twitter",  "http://twitter.com/dontdie"
  %li.resume=   link "Resume"

#areas
  .github
    .row-template(style='display: none')
      %a(href='' target='blank')
